
body {
    margin: 100px;
    border: solid 2px black;
    border: solid 3px black;
    background-color: ;
}
h1 {
  margin: 100p
  font-family: "serif", Times, serif;
  text-align: center;
  background-color: whitesmoke;
  font-family: serif;
    font-size: 220%;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: whitesmoke
}

aside {
  float: right;
  margin: 5px;
   width: 310px;
   height: 130px;
   border: solid 1px black;}
    
}

aside { width: 500px;
    width: 150px;
    height: 130px;
    border: solid 1px black;}


h1 {
    width: 500px;
    height: 100px;
    border: solid 1px gray;
}