h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: whitesmoke;
  font-family: serif;
    font-size: 220%;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: whitesmoke
}