@ -1,32 +0,0 @@
body {
    margin: 100px;
    background-color: whitesmoke;
    border-radius: 10px,
    font-family: "arial";
    font: "bold";
    
}

p,h,ul,il {font-family: "arial";
    font: "bold";
    text-justify: inter-word;
    margin-bottom: 30px;
    word-spacing: 2px;
    }
h1 {
    color: gold;
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-bottom: 500px;
    background-color: navy;
}
    
h2 {
     color: gold;
    font-size: 40px;
    text-align: left;
    border-style: solid;
    border-bottom: 500px;
    background-color: navy;
}

ul:hover {color: goldenrod}
ul:hover {background: white smoke}
p {font: times new roman;
  }
header img {
     max-width: 200px;
    max-height: 150px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    float: right;