@ -1,32 +0,0 @@

p,,ul,il {font-family: "arial";
    font: "bold";
    text-justify: inter-word;
    margin-bottom: 30px;
    word-spacing: 2px;
    }


header a {
     color: gold;
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-bottom: 500px;
    background-color: navy;
}
header {
     color: gold;
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-bottom: 500px;
    background-color: navy;
}

a:hover {color: goldenrod}
a:hover {background: white smoke}

header img {
     max-width: 200px;
    max-height: 150px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    float: right; }


nav {
    font-family: sans-serif;
}

nav {
    font-family: sans-serif;
}

#main-menu ul {
    list-style-type: none;
    text-align: center;
}

#main-menu ul li {
    display: inline;
    padding: 1em;
    margin: 0px;
    width: 200px;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px gray;
}

#main-menu ul li a {
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


#side-menu {
    margin: 10px;
    float: left;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu ul li {
    padding: 5px;
    width: 200px;
    margin: 0px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
}

#side-menu ul li a {
    display: block;
    color: darkslateblue;
    font-weight: bold;
    text-decoration: none;
}


