@ -1,32 +0,0 @@
h1 {
     color: black;
    background-color: goldenrod;
    border: 2px solid #0074D9;
    text-align: left;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}


header {
    border: 5px solid black;
    background-color: #3D9970;
    font-family: sans-serif;
    padding: 1.5em;
}

header a {
    color: white;
}

header a:hover {
    color: #01FF70;
}

h2 {
    color: black;
    background-color: #DDDDDD;
    border: 2px solid #3D9970;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}

header {}

     

a:hover {color: #3D9970}
a:hover {background: white smoke}

header img {
     max-width: 200px;
    max-height: 150px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    float: right; }




nav {
    font-family: sans-serif;
}

nav {
    font-family: sans-serif;
}

#main-menu ul {
    list-style-type:none;
    text-align: center;
}

#main-menu ul li {
    display: inline-block;
    padding: 2em;
    margin: 10px;
    width: 200px;
    background-color: #39CCCC;
    color: white;
    box-shadow: 2px 2px 5px gray;
    font-size: 20px,
    
}

#main-menu ul li:hover {color: cadetblue}

#main-menu ul li a {
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


#side-menu {
    margin: 10px;
    float: left;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu ul li {
    padding: 5px;
    width: 200px;
    margin: 0px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
}

#side-menu ul li a {
    display: block;
    color: darkslateblue;
    font-weight: bold;
    text-decoration: none;
}

footer {
    text-align: center;
}
